// home.page.scss
.icon {
    vertical-align: middle;
    display: inline-flex;
    font-size: x-large;
}
.icon-right {
    float: right;
}
.icon-left {
    float: left;
}
.border-week {
    border-width: 1px;    
    border-bottom-style: solid;
    border-color: lightgray
}

.calendar {
    //background-color: lightcyan;
    text-align: center;
    font-size: medium;  
}

table {
    width: 100%;
}

.borderDays {
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;    
    font-size: 1em;
    height: 3.5em;
}

.dia {
    background-color: lightblue;    
}

.noite {    
    background-color: gray;
}
.escalas {
    padding-top: 1em;    
}

.escalas-selected {
    background-color: gray;
    text-align: center;
    color: yellow;
    border-color: gray;
}


