<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Escala Mqt CBTU-Recife</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="calendar">
    <ion-row>
      <swiper 
        [loop]="true"
        (reachEnd) = "chegouFim()"
        (reachBeginning) = "reComecou()"
        [initialSlide]= 'monthNowNumber'
      >
        <ng-template swiperSlide *ngFor="let item of dataMonths" >
          <ion-grid style="padding: 0px;">
            <ion-row  style="padding: 5px; font-size: larger;">
              {{months[item.month]}} {{item.year}}
            </ion-row>
            <ion-row>
              <ion-grid  style="padding: 0px;">
                <ion-row class="border-week">
                  <ion-col *ngFor="let day of weekdays">{{day}}</ion-col>
                </ion-row>
                <ion-row *ngFor="let row of item.arrayDays.slice(0, item.arrayDays.length / n % 1 === 0 ? item.arrayDays.length / n : item.arrayDays.length / n + 1); let idx = index">
                  <ion-col class="borderDays"
                  *ngFor="let x of item.arrayDays.slice(idx * n, idx * n + n)"
                  [ngClass]="{'dia': isDay(x)===2, 'noite': isDay(x)===1, 'today':isToday(x)}">
                  {{ formatDay(x) }}
                </ion-col>
                </ion-row>
              </ion-grid>
            </ion-row>
          </ion-grid>
          
          
        </ng-template>
      </swiper>
    </ion-row>
    <ion-row class="escalas">
      <ion-col class="borderDays" [ngClass]="{'escalas-selected': escalaSel==='a'}" (click)="escalaSelected('a')">A</ion-col>
      <ion-col class="borderDays" [ngClass]="{'escalas-selected': escalaSel==='b'}" (click)="escalaSelected('b')">B</ion-col>
      <ion-col class="borderDays" [ngClass]="{'escalas-selected': escalaSel==='c'}" (click)="escalaSelected('c')">C</ion-col>
      <ion-col class="borderDays" [ngClass]="{'escalas-selected': escalaSel==='d'}" (click)="escalaSelected('d')">D</ion-col>
      <ion-col class="borderDays" [ngClass]="{'escalas-selected': escalaSel==='e'}" (click)="escalaSelected('e')">E</ion-col>
      <ion-col class="borderDays" [ngClass]="{'escalas-selected': escalaSel==='f'}" (click)="escalaSelected('f')">F</ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <p>Copyright © 2022 Jeremias23456@gmail.com, - All Rights Reserved.</p>
  </ion-toolbar>
</ion-footer>
